body{
    background-color: rgb(242, 242, 242);
}


img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: absolute;
    top: 17rem;
    left: 31rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: white;
    outline-style: solid;
    outline-color: purple;
}

figure{
    border-color: black;
    border-style: solid;
    border-radius: 1rem;
    width: 30rem;
    height: 20rem;
    margin: 20rem;
    box-shadow: grey 0 0 20px;
    background-color: white;
}

h1{
    font-size: 3rem;
    position: absolute;
    top: 25rem;
    left: 25rem;
}

h2{
    font-size: 2rem;
    position: absolute;
    top: 30rem;
    left: 29rem;
    color: grey;
}

p{
    font-size: 1rem;
    position: absolute;
    top: 33rem;
    left: 28.5rem;
}
